<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django 项目首页</title>
</head>
<body>
    <div class="card">
        <p><a href="http://47.96.170.155:80/pt">兼职求职平台</a></p>
        <p>47.96.170.155/pt</p>
    </div>

    <div class="card">
        <p><a href="http://47.96.170.155:80/fs/">个人文件网盘</a></p>
        <p>47.96.170.155/fs</p>
    </div>

    <div class="card">
        <p><a href="http://47.96.170.155:80/">项目地址</a></p>
        <p><a href="https://github.com/cncrx/">项目 Github</a></p>
        
    </div>
</body>
</html>

<style>
    html, body {
        height: 100%;
        width: 100%;
        display: -webkit-flex; /* Safari */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        padding-right: 50px;
    }
</style>